

/* Navbar */
.navbar {
  background: #e7eaf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 12px 24px;
  margin: 16px;
  border-radius: 10px;
  font-weight: bold;
}

.nav-left, .nav-right {
  color: #374151;
}

.nav-center a {
  margin: 0 12px;
  color: #374151;
  text-decoration: none;
}

.nav-center a:hover {
  margin: 0 12px;
  color: #2561c1;
  text-decoration: none;
}

.signup-container {
  height: 100vh;
  background: linear-gradient(to right, #1e1e1e 50%, #1d8194 50%);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.signup-content {
  background-color: #f8f9fa;
  border-radius: 10px;
}


.signup-header {
  text-align: center;
  margin-bottom: 30px;
}

.signup-header h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2c3e50;
}

.signup-header h2 {
  font-size: 22px;
  color: #7f8c8d;
  font-weight: normal;
}

.signup-callout {
  background-color: #0066cc;
  padding: 2px;
 
  margin-bottom: 10px;
  text-align: center;
}

.signup-callout h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fcfeff;
}

.signup-callout p {
  font-size: 14px;
  color: #fdffffd7;
}

.divider {
  height: 2px;
  background-color: #f8f9fa;
  margin: -3px 0;
}


.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre columnas y filas */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.full-width {
  grid-column: span 1;
}

.form-group label {
  margin-bottom: 8px;
  translate: 5px;
  font-weight: bold;
  font-size: 14px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.file-upload {
 display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* El campo de archivo ocupa ambas columnas */
}

.file-upload button {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.file-upload span {
  font-size: 13px;
  color: #7f8c8d;
}

.submit-button {
  width: 50%;
  padding: 12px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transform: translateX(-90px);
  margin-top: 4px;
}

.submit-button:hover {
  background-color: #1a252f;
}